//RWD (width is higher than 1280, lower than 1600)
@media (max-width: 1600px) {
}

//RWD (width is higher than 412, lower than 1280)
@media (max-width: 1250px) {
  #toTop {
    right: 35px;
    bottom: 90px;
    width: 40px;
    height: 40px;
  }
}

//RWD (width is lower than 420)
@media (max-width: 420px) {
  #toTop {
    right: 30px;
    bottom: 90px;
    width: 45px;
    height: 45px;
  }
}
