//RWD (width is higher than 1280, lower than 1600)
@media (max-width: 1600px) {
    #toTop {
        width: 3.5vw;
        height: 3.5vw;
    }
}

//RWD (width is higher than 412, lower than 1280)
@media (max-width: 1250px) {
    #toTop {
        right: 30px;
        width: 7vw;
        height: 7vw;
    }
}

//RWD (width is lower than 420)
@media (max-width: 420px) {
    #toTop {
        width: 9vw;
        height: 9vw;
    }
}