.loading {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    z-index: 1000;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font-size: 1.5em;
        font-weight: 700;
        color: rgb(12, 1, 1);
    }

    .loadingBar {
        position: relative;
        width: 150px;
        height: 4px;
        // border: 2px solid rgb(12, 1, 1, 0.3);
        border-radius: 15px;

        .basic {
            position: absolute;
            width: 99%;
            height: 100%;
            background-color: white;
            border-radius: 15px;
        }

        .progress {
            position: absolute;
            height: 100%;
            animation: barProgress 3.5s ease-out 0.5s forwards;
            background-color: rgb(165, 201, 202);
            border-radius: 15px;
        }

        @keyframes barProgress {
            from { width: 0%; }
            to { width: 100%; }
        }
    }
}

.visible {
    display: flex;
}

.invisible {
    display: none;
}