//RWD (width is higher than 1280, lower than 1800)
@media (max-width: 1800px) {

    #planet {
        top: -320px;
        width: 1200px;
        height: 1200px;
    }
}

//RWD (width is higher than 412, lower than 1280)
@media only screen and (max-width: 1250px) {

    #planet {
        top: 120px;
        right: -4%;
        width: 800px;
        height: 800px;

        .path1 {

            .satellite {
                left: 11%;
                top: 10%;
            }
        }
        .path2 {

            .satellite {
                left: 14%;
                top: 10%;
            }
        }
        .path3 {

            .satellite {
                left: 18%;
                top: 8%;
            }
        }
    }

}


//RWD (width is lower than 412)
@media only screen and (max-width: 420px) {

    #planet {
        top: 20%;
        right: -5%;
        width: 500px;
        height: 500px;

        .path1 {

            .satellite {
                width: 6%;
                left: 9%;
                top: 10%;
            }
        }
        .path2 {

            .satellite {
                width: 4.32%;
                left: 12%;
                top: 10%;
            }
        }
        .path3 {

            .satellite {
                width: 3%;
                left: 16.5%;
                top: 8%;
            }
        }
    }

    
}