#root,
body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
#root .section,
body .section {
  padding: 25px 0;
}

html {
  scrollbar-width: none;
  overflow-y: scroll;
}
html ::-webkit-scrollbar {
  display: none;
}

#footer {
  position: relative;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#footer p {
  margin: 0;
  font-size: 14px;
}
