#root,
body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  .section {
    padding: 15px 0;
  }

}


html {
  // firefox滾動卷軸隱藏
  scrollbar-width: none;
  overflow-y: scroll;

  // Chrome/Edge滾動卷軸隱藏
  ::-webkit-scrollbar {
    display: none;
  }
}


//RWD (width is higher than 412, lower than 1280)
@media only screen and (max-width: 1250px) {}


//RWD (width is lower than 412)
@media only screen and (max-width: 420px) {}